@model Category
@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<form method="post" asp-action="DeletePost" class="bg-white">
    <input asp-for="Id" type="hidden" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2> Delete Category</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control shadow-lg"/>
           @* <span asp-validation-for="Name" class="text-danger"></span>*@

        </div>
        <div class="mb-3">
            <label asp-for="DesplayOrder"></label>
            <input asp-for="DesplayOrder" disabled class="form-control shadow-lg"/>
                      @*  <span asp-validation-for="DesplayOrder" class="text-danger"></span>*@

        </div>
        <button  type="submit" class="btn btn-outline-danger " style="width:150px"> Del</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary " style="width:150px"> Back</a>
    </div>
</form>

         
        