@using Webmarket.Modelss.ViewModel
@model ShoppingCartVM
@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<h1>ProductDetails</h1>

    <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class=" text-center">
                    <img src="~/images/products/@Model.Product.ImgeUrl" class="" alt="..." style="width:500px">
                </div>
            </div>
                <div class="col-lg-6">
                            <div class="ps-lg-6 ps-xl-10 w-lg-90">
                                <div class="mb-4">
                                    <div class="main-title title-left">Title :@Model.Product.Title<span class="line-left"></span></div>
                                    <h2 class="w-90">The greater part of the people trust on us</h2>
                                </div>
                                <p class="mb-4">
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                                </p>



                                            <div id="accordion" class="accordion-style">
                                                <div class="card">
                                                    <div class="card-header" id="headingOne">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">How quick will my credit be subsidized?</button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#accordion" style="">
                                                        <div class="card-body position-relative">
                                                            @Model.Product.Description
                                                    </div>
                                                </div>
                                                <div class="card">
                       
                        
                                                </div>
                                                <div class="card">
                        
                                                    <
                                                </div>
                                                <div class="card">
                        
                        
                                                </div>
                                                <div class="card">
                        
                        
                                                </div>
                                            </div>
                            </div>
                </div>
       </div>



   </div>
</div>

